.navbar {
  background: #000; }
  .navbar .nav-item {
    padding-left: 1em; }
    .navbar .nav-item .nav-link {
      text-transform: uppercase; }

.carousel-item {
  height: 450px; }

.carousel-img-1 {
  background: url("../img/image1.jpeg");
  background-size: cover; }

.carousel-img-2 {
  background: url("../img/image2.jpeg");
  background-size: cover; }

.carousel-img-3 {
  background: url("../img/image3.jpeg");
  background-size: cover; }

.carousel-img-4 {
  background: url("../img/image4.jpeg");
  background-size: cover; }

#home-icon .fa {
  font-size: 50px; }

#getstart {
  position: relative;
  background: url(../img/bg1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 250px; }
  #getstart .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); }

#home-video {
  position: relative;
  background: url(../img/people.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 250px; }
  #home-video .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }
    #home-video .dark-overlay .fa {
      font-size: 50px;
      color: #ff0000; }

#copy-right {
  background: #000; }

#page-header {
  background: url(../img/image1.jpeg);
  background-size: cover;
  height: 200px;
  background-attachment: fixed; }

#abou-info img {
  border-radius: 50%;
  width: 350px;
  height: 350px; }

#icon-boxes .fa {
  font-size: 50px; }

#testimonial .slick-prev::before,
#testimonial .slick-next::before {
  color: red; }

#services-header {
  background: url("../img/image3.jpeg");
  background-size: cover;
  height: 200px;
  background-attachment: fixed; }

@media (max-width: 767px) {
  .nav-item {
    padding-left: 0em !important; }
  #getstart {
    min-height: 350px; } }

@media (max-width: 480px) {
  .carousel h2 {
    font-size: 2.5rem; } }
